{% extends "base.html" %}
{% block title %}DashBoard{% endblock %}
{% block content %}
<h1 style="text-align: center; color: black;">DashBoard</h1>
<div class="dash_container">
    <div class="innerDC total_invoice" >
        <p style="font-size: 30px;">{{ invoice | length }}</p> <!-- amount of Invoice-->
        <p>Total Invoices</p> <!-- amount of Invoice-->
    </div>
    <div class="innerDC pending">
        <p style="font-size: 30px;">{{ Notpaid | length }}</p> <!-- amount of Invoice-->
        <p>Pending Bills</p> <!-- amount of Invoice-->
    </div>
    <div class="innerDC due">
        <p style="font-size: 30px;">{{ total }}</p> <!-- amount of Invoice-->
        <p>Due Amount</p> <!-- amount of Invoice-->
    </div>
    <div class="innerDC total_products">
        <p style="font-size: 30px;">{{ product | length }}</p> <!-- amount of Invoice-->
        <p>Total Products</p> <!-- amount of Invoice-->
    </div>
    <div class="innerDC customers">
        <p style="font-size: 30px;">{{ users | length }}</p> <!-- amount of Invoice-->
        <p>Total Customers</p> <!-- amount of Invoice-->
    </div>
    <div class="innerDC paid">
        <p style="font-size: 30px;">{{ paid | length }}</p> <!-- amount of Invoice-->
        <p>Paid Bills</p> <!-- amount of Invoice-->
    </div>
</div>
{% endblock %}